@keyframes dot-keyframes {
    0% {
      opacity: 0.4;
      transform: scale(1, 1);
    }
    50% {
      opacity: 1;
      transform: scale(2, 2);
    }
    100% {
      opacity: 0.4;
      transform: scale(1, 1);
    }
  }
  .loadings {
    opacity: 0;
    justify-content: center;
    align-items: center;
    gap:5px;
    width:auto;
    padding: 4px;
    border-radius: 2px;
    background: linear-gradient(0deg, rgba(255, 255, 245, 0.06) 0%, rgba(255, 255, 245, 0.06) 100%), rgba(30, 30, 32, 0.06);
    display:flex;
    position:absolute;
    z-index: 9998;
  }
  .loading-dots, .dot1 {
    display:flex;
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #10B981;
    border-radius: 10px;
    height: 2px;
    width: 2px;
  }
  .dot1:nth-child(2), .loading-dots:nth-child(2) {
    animation-delay: 0.5s;
  }
  .dot1:nth-child(3), .loading-dots:nth-child(3) {
    animation-delay: 1s;
  }
  .load {
    opacity: 1;
    justify-content: center;
    align-items: center;
    gap:5px;
    width:auto;
    padding: 4px;
    border-radius: 2px;
    display:flex;
  }
  @font-face {
      font-family: "Averta-Regular";
      src: url("https://unpkg.com/averta@1.0.0/Averta-Regular.otf");
  }
  .divall{
    display:inline-block;
    box-shadow: 0px 0px 4px 0px rgba(30, 30, 32, 0.6);
    border-radius: 4px 4px 4px 4px;
    position: absolute;
    z-index: 9998;
    transition: all 0.3s ease-in-out;
  }
  .marsContent, .marsFooter{
    display:flex;
    color: rgba(255, 255, 245, 0.86);
    font-size: 11px;
    font-family: "Averta-Regular",Tahoma, Arial, Helvetica, sans-serif !important;
    width:auto;
  }
  .marsContent{
    background-color: #1E1E20;
    padding:5px 10px 7px 10px;
    border: 1px solid #272727;
    border-radius: 4px 4px 0px 0px;
    line-height: 20px;
    white-space: pre-wrap;
    border-bottom: 0px;
  }
  .marsFooter{
    background-color: #272727;
    border-radius: 0px 0px 4px 4px;
    padding:4px;
    gap:6px;
  }
  .lang{
    display:flex;
    border-radius: 2px;
    font-family: "Averta-Regular",Tahoma, Arial, Helvetica, sans-serif !important;
    border:0px;
    padding: 4px 8px 4px 8px;
    color: rgba(255, 255, 245, 0.4);
    background:rgba(255, 255, 245, 0);
    text-transform: capitalize;
    font-size:11px;
    cursor: pointer;
    line-height: normal !important;
  }
  .d1{
    background-color: #303030;
    color: rgba(255, 255, 245, 0.86);
  }
  .bl{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
  }
  .s1{
    background:rgba(255, 255, 245, 0.06);
    color: rgba(255, 255, 245, 0.76);
}